.header{
    width: min(35rem, 80%);
    padding: 1rem;
    border: 0.1rem solid hsl(217, 16%, 45%);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    span{
        width: 30%;
        background-color:hsl(217, 16%, 100%);
        border-radius: 0.5rem;
        padding: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .score_label{
            text-align: center;
            font-size: 1.5rem;
            color: hsl(229, 64%, 46%);
        }
        .score{
            text-align: center;
            font-size: 4rem;
            line-height: 0.9em;
            color: hsl(229, 25%, 31%);
        }
    }
   
}
