@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,600;0,700;1,600;1,700&display=swap);
:root {
  --scissors-gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%);
  --paper-gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%);
  --rock-gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%);
  --lizard-gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
  --cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);
}
body {
  margin: 0;
}
#root {
  width: 100svw;
  height: 100svh;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Barlow Semi Condensed;
  box-sizing: border-box;
  overflow: hidden;
  .rule-btn {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    align-self: flex-end;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border: 0.1rem solid hsl(217, 16%, 100%);
    color: hsl(217, 16%, 100%);
    &:hover {
      cursor: pointer;
    }
  }
}

@media (width <= 35rem) {
  #root {
    padding: 1rem;
    .rule-btn {
      align-self: center;
    }
  }
}
